<a href="https://colab.research.google.com/github/Anagha-dsa/Data.science/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1
# pgm for area of circle using user input


r= float(input('Enter the radius: '))

area=float(3.14*r*r)

print('Area of circle is ',area)

Enter the radius: 3
Area of circle is  28.259999999999998

In [ ]:
#Q2
# pgm to accept nd print student details


nam=input('Enter the name: ')
rol=input('Enter the roll number:')
mar=input('Enter the mark: ')

print(f"\nName: {nam}\nRoll No: {rol}\nMark: {mar}")

Enter the name: Anisha
Enter the roll number:21
Enter the mark: 78

Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
#Q3
#pgm to find largest frm list

lis=[12,3,47,10]

largest=print(max(lis),'is the largest number')

47 is the largest number

In [ ]:
#Q4
# pgm to iterate nd print sum of current nd previous one frm a range

a=range(10)

for i in a:
    c= i+1
    print('Current number:',c,'  Previous number:',i,'    Sum:',i+c)

Current number: 1   Previous number: 0     Sum: 1
Current number: 2   Previous number: 1     Sum: 3
Current number: 3   Previous number: 2     Sum: 5
Current number: 4   Previous number: 3     Sum: 7
Current number: 5   Previous number: 4     Sum: 9
Current number: 6   Previous number: 5     Sum: 11
Current number: 7   Previous number: 6     Sum: 13
Current number: 8   Previous number: 7     Sum: 15
Current number: 9   Previous number: 8     Sum: 17
Current number: 10   Previous number: 9     Sum: 19

In [ ]:
#Q5
# pgm to find multiples of 5

num=[10,20,33,46,55]

for i in num:
    if i%5==0:
        print(i)

10
20
55

In [ ]:
#Q6
#pgm to check prime or not

x=int(input('Enter the number'))

if x>1:
  for i in range(2,x):
    if x%i==0:
        print(x,'is not a prime')
        break
  else:
         print(x,'is a prime number')

else:
    print(x,'is a prime number')

Enter the number3
3 is a prime number

In [ ]:
#Q7
# pgm to reverse a list usng loop

l=[10,40,30,70]
leng=len(l)

for i in l:
    print(l[leng-1])
    leng-=1

70
30
40
10

In [ ]:
#Q8
#pgm to print pattern

p=input('enter the symbol to be repeated: ')
q=int( input('enter the number of lines to be repeted: '))
r=1

for i in range(q):
    print(p*r)
    r+=1

enter the symbol to be repeated: *
enter the number of lines to be repeted: 4
*
**
***
****

In [ ]:
#Q9
#pgm to find largest of 3

z= max(34,12,7)
print(z)

34

In [ ]:
#Q10
#pgm to print Pattern

for j in range (1,11):

    if j <6:
        print ('*'*j)
        j+=1
        k=j-1
    else:

       k-=1
       print ('*'*k)
       j+=1

*
**
***
****
*****
****
***
**
*